In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
X=pd.read_csv('IMDB-Movie-Data.csv')
X

,Rank,Title,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
0,1,Guardians of the Galaxy,"Action,Adventure,Sci-Fi",A group of intergalactic criminals are forced ...,James Gunn,"Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...",2014,121,8.1,757074,333.13,76.0
1,2,Prometheus,"Adventure,Mystery,Sci-Fi","Following clues to the origin of mankind, a te...",Ridley Scott,"Noomi Rapace, Logan Marshall-Green, Michael Fa...",2012,124,7.0,485820,126.46,65.0
2,3,Split,"Horror,Thriller",Three girls are kidnapped by a man with a diag...,M. Night Shyamalan,"James McAvoy, Anya Taylor-Joy, Haley Lu Richar...",2016,117,7.3,157606,138.12,62.0
3,4,Sing,"Animation,Comedy,Family","In a city of humanoid animals, a hustling thea...",Christophe Lourdelet,"Matthew McConaughey,Reese Witherspoon, Seth Ma...",2016,108,7.2,60545,270.32,59.0
4,5,Suicide Squad,"Action,Adventure,Fantasy",A secret government agency recruits some of th...,David Ayer,"Will Smith, Jared Leto, Margot Robbie, Viola D...",2016,123,6.2,393727,325.02,40.0
...,...,...,...,...,...,...,...,...,...,...,...,...
995,996,Secret in Their Eyes,"Crime,Drama,Mystery","A tight-knit team of rising investigators, alo...",Billy Ray,"Chiwetel Ejiofor, Nicole Kidman, Julia Roberts...",2015,111,6.2,27585,NaN,45.0
996,997,Hostel: Part II,Horror,Three American college students studying abroa...,Eli Roth,"Lauren German, Heather Matarazzo, Bijou Philli...",2007,94,5.5,73152,17.54,46.0
997,998,Step Up 2: The Streets,"Drama,Music,Romance",Romantic sparks occur between two dance studen...,Jon M. Chu,"Robert Hoffman, Briana Evigan, Cassie Ventura,...",2008,98,6.2,70699,58.01,50.0
998,999,Search Party,"Adventure,Comedy",A pair of friends embark on a mission to reuni...,Scot Armstrong,"Adam Pally, T.J. Miller, Thomas Middleditch,Sh...",2014,93,5.6,4881,NaN,22.0
999,1000,Nine Lives,"Comedy,Family,Fantasy",A stuffy businessman finds himself trapped ins...,Barry Sonnenfeld,"Kevin Spacey, Jennifer Garner, Robbie Amell,Ch...",2016,87,5.3,12435,19.64,11.0

# qus-1

In [4]:
X.shape

(1000, 12)

# qus2

In [6]:
X.isnull().sum()

Rank                    0
Title                   0
Genre                   0
Description             0
Director                0
Actors                  0
Year                    0
Runtime (Minutes)       0
Rating                  0
Votes                   0
Revenue (Millions)    128
Metascore              64
dtype: int64

# qus3

In [8]:
X=X.dropna()
X.head()

,Rank,Title,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
0,1,Guardians of the Galaxy,"Action,Adventure,Sci-Fi",A group of intergalactic criminals are forced ...,James Gunn,"Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...",2014,121,8.1,757074,333.13,76.0
1,2,Prometheus,"Adventure,Mystery,Sci-Fi","Following clues to the origin of mankind, a te...",Ridley Scott,"Noomi Rapace, Logan Marshall-Green, Michael Fa...",2012,124,7.0,485820,126.46,65.0
2,3,Split,"Horror,Thriller",Three girls are kidnapped by a man with a diag...,M. Night Shyamalan,"James McAvoy, Anya Taylor-Joy, Haley Lu Richar...",2016,117,7.3,157606,138.12,62.0
3,4,Sing,"Animation,Comedy,Family","In a city of humanoid animals, a hustling thea...",Christophe Lourdelet,"Matthew McConaughey,Reese Witherspoon, Seth Ma...",2016,108,7.2,60545,270.32,59.0
4,5,Suicide Squad,"Action,Adventure,Fantasy",A secret government agency recruits some of th...,David Ayer,"Will Smith, Jared Leto, Margot Robbie, Viola D...",2016,123,6.2,393727,325.02,40.0

In [10]:
X.isnull().sum()

Rank                  0
Title                 0
Genre                 0
Description           0
Director              0
Actors                0
Year                  0
Runtime (Minutes)     0
Rating                0
Votes                 0
Revenue (Millions)    0
Metascore             0
dtype: int64

# qus.4

In [11]:
X.duplicated()

0      False
1      False
2      False
3      False
4      False
       ...
993    False
994    False
996    False
997    False
999    False
Length: 838, dtype: bool

# qus5

In [12]:
X.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 838 entries, 0 to 999
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Rank                838 non-null    int64
 1   Title               838 non-null    object
 2   Genre               838 non-null    object
 3   Description         838 non-null    object
 4   Director            838 non-null    object
 5   Actors              838 non-null    object
 6   Year                838 non-null    int64
 7   Runtime (Minutes)   838 non-null    int64
 8   Rating              838 non-null    float64
 9   Votes               838 non-null    int64
 10  Revenue (Millions)  838 non-null    float64
 11  Metascore           838 non-null    float64
dtypes: float64(3), int64(4), object(5)
memory usage: 85.1+ KB

In [13]:
X.describe()

,Rank,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
count,838.000000,838.00000,838.000000,838.000000,8.380000e+02,838.000000,838.000000
mean,485.247017,2012.50716,114.638425,6.814320,1.932303e+05,84.564558,59.575179
std,286.572065,3.17236,18.470922,0.877754,1.930990e+05,104.520227,16.952416
min,1.000000,2006.00000,66.000000,1.900000,1.780000e+02,0.000000,11.000000
25%,238.250000,2010.00000,101.000000,6.300000,6.127650e+04,13.967500,47.000000
50%,475.500000,2013.00000,112.000000,6.900000,1.368795e+05,48.150000,60.000000
75%,729.750000,2015.00000,124.000000,7.500000,2.710830e+05,116.800000,72.000000
max,1000.000000,2016.00000,187.000000,9.000000,1.791916e+06,936.630000,100.000000

# qus6

In [100]:
heigest_runtime=X['Runtime(Minutes)']>180
heigest_runtime()

KeyError: 'Runtime(Minutes)'

# qus7

In [89]:
np.max(X['Votes'])

1791916

# qus8

# Qus8

In [36]:
np.max(X)

C:\Anaconda\lib\site-packages\numpy\core\fromnumeric.py:84: FutureWarning: In a future version, DataFrame.max(axis=None) will return a scalar max over the entire DataFrame. To retain the old behavior, use 'frame.max(axis=0)' or just 'frame.max()'
  return reduction(axis=axis, out=out, **passkwargs)

Rank                                                               1000
Title                                                          Zootopia
Genre                                                          Thriller
Description           Young, up-and-coming martial artist, Bruce Lee...
Director                                                  Zackary Adler
Actors                Zooey Deschanel, Joseph Gordon-Levitt, Geoffre...
Year                                                               2016
Runtime (Minutes)                                                   187
Rating                                                              9.0
Votes                                                           1791916
Revenue (Millions)                                               936.63
Metascore                                                         100.0
dtype: object

In [ ]:
Revenue(Millions)=936
year=2016

# Qus10

In [48]:
Y=X['Rating'].astype(int)
Y

0      8
1      7
2      7
3      7
4      6
      ..
993    5
994    6
996    5
997    6
999    5
Name: Rating, Length: 838, dtype: int32

In [85]:
V=Y.sort_values(ascending=False)
V.head(10)

54     9
713    8
143    8
140    8
138    8
669    8
136    8
133    8
129    8
685    8
Name: Rating, dtype: int32

# qus10

# qus11

In [79]:
no_movies_eachyear=X.groupby('Year')['Title'].nunique()
no_movies_eachyear

Year
2006     41
2007     44
2008     48
2009     45
2010     57
2011     57
2012     62
2013     84
2014     93
2015    109
2016    198
Name: Title, dtype: int64

# qus13

In [118]:
Heigest_rating =X['Rating'].astype(int)
Heigest_rating =Heigest_rating.sort_values(ascending=False)
Heigest_rating[:10]

54     9
713    8
143    8
140    8
138    8
669    8
136    8
133    8
129    8
685    8
Name: Rating, dtype: int32

In [153]:
heigest_rated_movie=X.loc[54,{'Title','Director'}]
heigest_rated_movie

C:\Users\91937\AppData\Local\Temp\ipykernel_15100\225893781.py:1: FutureWarning: Passing a set as an indexer is deprecated and will raise in a future version. Use a list instead.
  heigest_rated_movie=X.loc[54,{'Title','Director'}]

Director    Christopher Nolan
Title         The Dark Knight
Name: 54, dtype: object

# qus12

In [148]:

np.max(X['Revenue (Millions)'])

936.63

In [136]:
X['Revenue (Millions)'].sort_values(ascending=False)

50     936.63
87     760.51
85     652.18
76     623.28
54     533.32
        ...
321      0.01
68       0.01
677      0.01
961      0.01
231      0.00
Name: Revenue (Millions), Length: 838, dtype: float64

In [147]:
print(X.loc[50,'Title'])

Star Wars: Episode VII - The Force Awakens

# qus14

In [155]:
X['Revenue (Millions)'].sort_values(ascending=False)[:10]

50     936.63
87     760.51
85     652.18
76     623.28
54     533.32
12     532.17
119    486.29
94     458.99
124    448.13
578    424.65
Name: Revenue (Millions), dtype: float64

# qus15

In [157]:
Z=X[['Title','Year','Rating']]
Z

                        Title  Year  Rating
0     Guardians of the Galaxy  2014     8.1
1                  Prometheus  2012     7.0
2                       Split  2016     7.3
3                        Sing  2016     7.2
4               Suicide Squad  2016     6.2
..                        ...   ...     ...
993  Resident Evil: Afterlife  2010     5.9
994                 Project X  2012     6.7
996           Hostel: Part II  2007     5.5
997    Step Up 2: The Streets  2008     6.2
999                Nine Lives  2016     5.3

[838 rows x 3 columns]

In [161]:
Avg_Rating=np.average(Z['Rating'])
Avg_Rating

6.814319809069212

In [211]:
Z.query('Rating>=6.8')

                       Title  Year  Rating
0    Guardians of the Galaxy  2014     8.1
1                 Prometheus  2012     7.0
2                      Split  2016     7.3
3                       Sing  2016     7.2
6                 La La Land  2016     8.3
..                       ...   ...     ...
979       The Skin I Live In  2011     7.6
980     Miracles from Heaven  2016     7.0
982      Across the Universe  2007     7.4
984                      Max  2015     6.8
991         Taare Zameen Par  2007     8.5

[455 rows x 3 columns]

# qus16

In [ ]:
yes

# qus19

In [266]:
X=pd.read_csv('IMDB-Movie-Data.csv')
X
Unique_count=X['Genre'].unique()
Unique_count

array(['Action,Adventure,Sci-Fi', 'Adventure,Mystery,Sci-Fi',
       'Horror,Thriller', 'Animation,Comedy,Family',
       'Action,Adventure,Fantasy', 'Comedy,Drama,Music', 'Comedy',
       'Action,Adventure,Biography', 'Adventure,Drama,Romance',
       'Adventure,Family,Fantasy', 'Biography,Drama,History',
       'Animation,Adventure,Comedy', 'Action,Comedy,Drama',
       'Action,Thriller', 'Biography,Drama', 'Drama,Mystery,Sci-Fi',
       'Adventure,Drama,Thriller', 'Drama', 'Crime,Drama,Horror',
       'Action,Adventure,Drama', 'Drama,Thriller',
       'Action,Adventure,Comedy', 'Action,Horror,Sci-Fi',
       'Adventure,Drama,Sci-Fi', 'Action,Adventure,Western',
       'Comedy,Drama', 'Horror', 'Adventure,Drama,Fantasy',
       'Action,Crime,Thriller', 'Action,Crime,Drama',
       'Adventure,Drama,History', 'Crime,Horror,Thriller',
       'Drama,Romance', 'Comedy,Drama,Romance', 'Horror,Mystery,Thriller',
       'Crime,Drama,Mystery', 'Drama,Romance,Thriller',
       'Drama,History,Thriller', 'Action,Drama,Thriller', 'Drama,History',
       'Action,Drama,Romance', 'Drama,Fantasy', 'Action,Sci-Fi',
       'Adventure,Drama,War', 'Action,Comedy,Fantasy',
       'Biography,Comedy,Crime', 'Crime,Drama', 'Comedy,Crime,Drama',
       'Action,Comedy,Crime', 'Animation,Drama,Fantasy',
       'Horror,Mystery,Sci-Fi', 'Drama,Mystery,Thriller',
       'Crime,Drama,Thriller', 'Biography,Crime,Drama',
       'Crime,Mystery,Thriller', 'Action,Horror,Thriller',
       'Romance,Sci-Fi', 'Action,Fantasy,War', 'Action,Biography,Drama',
       'Drama,Horror,Mystery', 'Adventure,Drama,Family',
       'Adventure,Comedy,Romance', 'Action', 'Adventure,Crime,Mystery',
       'Comedy,Family,Musical', 'Adventure,Comedy,Drama',
       'Drama,Horror,Thriller', 'Drama,Music', 'Mystery,Thriller',
       'Mystery,Thriller,Western', 'Comedy,Family',
       'Biography,Comedy,Drama', 'Drama,Western', 'Drama,Mystery,Romance',
       'Action,Drama,Mystery', 'Action,Adventure,Crime',
       'Adventure,Sci-Fi,Thriller', 'Action,Comedy,Mystery',
       'Thriller,War', 'Action,Adventure,Thriller',
       'Drama,Fantasy,Romance', 'Action,Drama,History',
       'Animation,Adventure,Family', 'Adventure,Horror',
       'Drama,Romance,Sci-Fi', 'Action,Adventure,Family', 'Action,Comedy',
       'Comedy,Romance', 'Horror,Mystery', 'Drama,Family,Fantasy',
       'Sci-Fi', 'Drama,War', 'Drama,Fantasy,Horror',
       'Crime,Drama,History', 'Horror,Sci-Fi,Thriller',
       'Action,Drama,Sport', 'Adventure,Biography,Drama',
       'Biography,Drama,Thriller', 'Action,Adventure,Mystery',
       'Drama,Horror', 'Comedy,Crime', 'Drama,Fantasy,War',
       'Action,Adventure,Romance', 'Action,Drama,War',
       'Drama,Musical,Romance', 'Drama,Sci-Fi,Thriller',
       'Action,Drama,Sci-Fi', 'Drama,Sci-Fi', 'Adventure,Fantasy',
       'Thriller', 'Biography,Drama,Romance', 'Action,Adventure',
       'Action,Fantasy', 'Action,Drama,Horror', 'Comedy,Music,Romance',
       'Biography,Drama,Sport', 'Action,Horror', 'Comedy,Horror,Thriller',
       'Crime,Drama,Music', 'Action,Sci-Fi,Thriller',
       'Drama,Horror,Sci-Fi', 'Drama,Sport', 'Comedy,Horror',
       'Comedy,Fantasy,Romance', 'Comedy,Fantasy', 'Comedy,Drama,Fantasy',
       'Adventure,Comedy,Horror', 'Comedy,Mystery',
       'Action,Mystery,Sci-Fi', 'Action,Crime,Fantasy',
       'Comedy,Fantasy,Horror', 'Animation,Action,Adventure',
       'Action,Comedy,Family', 'Comedy,Sci-Fi', 'Action,Biography,Crime',
       'Adventure,Comedy', 'Comedy,Music', 'Comedy,Drama,Horror',
       'Action,Horror,Romance', 'Action,Drama,Fantasy',
       'Action,Mystery,Thriller', 'Action,Adventure,Horror',
       'Animation,Family,Fantasy', 'Adventure,Horror,Mystery',
       'Action,Horror,Mystery', 'Adventure,Comedy,Family',
       'Action,Crime,Mystery', 'Comedy,Drama,Family',
       'Action,Crime,Sport', 'Mystery,Sci-Fi,Thriller', 'Sci-Fi,Thriller',
       'Adventure,Drama,Horror', 'Biography,History,Thriller',
       'Adventure,Comedy,Sci-Fi', 'Fantasy,Horror',
       'Action,Fantasy,Thriller', 'Comedy,Romance,Sport',
       'Animation,Action,Comedy', 'Drama,Fantasy,Thriller',
       'Action,Comedy,Romance', 'Action,Fantasy,Horror',
       'Mystery,Romance,Sci-Fi', 'Comedy,Drama,Thriller',
       'Comedy,Western', 'Drama,History,War', 'Fantasy,Horror,Thriller',
       'Drama,Horror,Musical', 'Drama,Family', 'Romance,Sci-Fi,Thriller',
       'Animation,Fantasy', 'Drama,Mystery,War', 'Action,Drama,Family',
       'Adventure,Drama,Western', 'Drama,Music,Romance',
       'Comedy,Romance,Western', 'Adventure,Drama', 'Drama,Thriller,War',
       'Drama,Fantasy,Mystery', 'Comedy,Crime,Thriller',
       'Animation,Comedy,Drama', 'Action,Comedy,Sci-Fi',
       'Drama,Romance,War', 'Adventure,Fantasy,Mystery',
       'Mystery,Romance,Thriller', 'Biography,Drama,Mystery',
       'Animation,Drama,Romance', 'Comedy,Horror,Romance',
       'Action,Thriller,War', 'Action,Comedy,Horror',
       'Action,Crime,Sci-Fi', 'Crime,Thriller', 'Comedy,Horror,Sci-Fi',
       'Crime,Drama,Fantasy', 'Drama,Fantasy,Music',
       'Action,Comedy,Sport', 'Fantasy,Mystery,Thriller', 'Adventure',
       'Adventure,Biography', 'Adventure,Biography,Crime',
       'Comedy,Drama,Musical', 'Comedy,Family,Romance',
       'Biography,Drama,Family', 'Drama,Fantasy,Musical',
       'Adventure,Family', 'Adventure,Comedy,Fantasy',
       'Drama,Family,Music', 'Comedy,Family,Fantasy'], dtype=object)

In [267]:
X.query('Genre=="Action"')

,Rank,Title,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
123,124,Boyka: Undisputed IV,Action,In the fourth installment of the fighting fran...,Todor Chapkanov,"Scott Adkins, Teodora Duhovnikova, Alon Aboutb...",2016,86,7.4,10428,NaN,NaN
580,581,Kickboxer: Vengeance,Action,A kick boxer is out to avenge his brother.,John Stockwell,"Dave Bautista, Alain Moussi, Gina Carano, Jean...",2016,90,4.9,6809,131.56,37.0

In [268]:
X.query("Genre=='Horror,Thriller'")

,Rank,Title,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
2,3,Split,"Horror,Thriller",Three girls are kidnapped by a man with a diag...,M. Night Shyamalan,"James McAvoy, Anya Taylor-Joy, Haley Lu Richar...",2016,117,7.3,157606,138.12,62.0
27,28,Dead Awake,"Horror,Thriller",A young woman must save herself and her friend...,Phillip Guzman,"Jocelin Donahue, Jesse Bradford, Jesse Borrego...",2016,99,4.7,523,0.01,NaN
116,117,The Neon Demon,"Horror,Thriller",When aspiring model Jesse moves to Los Angeles...,Nicolas Winding Refn,"Elle Fanning, Christina Hendricks, Keanu Reeve...",2016,118,6.2,50359,1.33,51.0
361,362,Clown,"Horror,Thriller",A loving father finds a clown suit for his son...,Jon Watts,"Andy Powers, Laura Allen, Peter Stormare, Chri...",2014,100,5.7,14248,0.05,42.0
382,383,Hush,"Horror,Thriller",A deaf writer who retreated into the woods to ...,Mike Flanagan,"John Gallagher Jr., Kate Siegel, Michael Trucc...",2016,81,6.6,45867,NaN,67.0
477,478,Pet,"Horror,Thriller",A psychological thriller about a man who bumps...,Carles Torrens,"Dominic Monaghan, Ksenia Solo, Jennette McCurd...",2016,94,5.7,8404,NaN,48.0
531,532,Friend Request,"Horror,Thriller",When a college student unfriends a mysterious ...,Simon Verhoeven,"Alycia Debnam-Carey, William Moseley, Connor P...",2016,92,5.4,12758,64.03,59.0
723,724,Blair Witch,"Horror,Thriller",After discovering a video showing what he beli...,Adam Wingard,"James Allen McCune, Callie Hernandez, Corbin R...",2016,89,5.1,26088,20.75,47.0
736,737,The Blackcoat's Daughter,"Horror,Thriller",Two girls must battle a mysterious evil force ...,Oz Perkins,"Emma Roberts, Kiernan Shipka, Lauren Holly, Lu...",2015,93,5.6,4155,0.02,68.0
748,749,Ouija: Origin of Evil,"Horror,Thriller","In 1967 Los Angeles, a widowed mother and her ...",Mike Flanagan,"Elizabeth Reaser, Lulu Wilson, Annalise Basso,...",2016,99,6.1,30035,34.90,65.0
776,777,31,"Horror,Thriller",Five carnival workers are kidnapped and held h...,Rob Zombie,"Malcolm McDowell, Richard Brake, Jeff Daniel P...",2016,102,5.1,10871,0.78,35.0
811,812,Mama,"Horror,Thriller",A young couple take in their two nieces only t...,AndrÃ©s Muschietti,"Jessica Chastain, Nikolaj Coster-Waldau, Megan...",2013,100,6.2,142560,71.59,57.0
819,820,Wolves at the Door,"Horror,Thriller",Four friends gather at an elegant home during ...,John R. Leonetti,"Katie Cassidy, Elizabeth Henstridge, Adam Camp...",2016,73,4.6,564,NaN,63.0
825,826,Crawlspace,"Horror,Thriller",A thriller centered around a widower who moves...,Phil Claydon,"Michael Vartan, Erin Moriarty, Nadine Velazque...",2016,88,5.3,1427,NaN,25.0
970,971,Texas Chainsaw 3D,"Horror,Thriller",A young woman travels to Texas to collect an i...,John Luessenhop,"Alexandra Daddario, Tania Raymonde, Scott East...",2013,92,4.8,37060,34.33,62.0
986,987,Final Destination 5,"Horror,Thriller",Survivors of a suspension-bridge collapse lear...,Steven Quale,"Nicholas D'Agosto, Emma Bell, Arlen Escarpeta,...",2011,92,5.9,88000,42.58,50.0

# qus20

In [274]:

X['Genre'].value_counts()

Action,Adventure,Sci-Fi    50
Drama                      48
Comedy,Drama,Romance       35
Comedy                     32
Drama,Romance              31
                           ..
Action,Comedy,Family        1
Action,Crime,Fantasy        1
Comedy,Mystery              1
Adventure,Comedy,Horror     1
Comedy,Family,Fantasy       1
Name: Genre, Length: 207, dtype: int64

# qus21

In [ ]:
     total marble=8
    yellow marble=3
    probability to pulling out a yellow marble=3/8

# qus22

# qus23

In [276]:
X=[1,2,3,4,5] #LIst to dataframe
df=pd.DataFrame(X,index=['A','B','C','D','E'])
df

   0
A  1
B  2
C  3
D  4
E  5

In [277]:
#dict to dataframe
K={'A':[1,2,3,4,5],'B':[6,7,8,9,10]}
df1=pd.DataFrame(K)
df1

   A   B
0  1   6
1  2   7
2  3   8
3  4   9
4  5  10

# qus24

In [ ]:
1-Covarience gives direction .Values lies between(-infinity to +infinity)
2-Correlation gives direction and strength both .It values lies between(-1 to +1)

# qus25

In [ ]:
first go to powerbi transform data
        |
power query editor
        |